<!DOCTYPE html>
<html lang="pt-BR">

<html xmlns:th="http://www.thymeleaf.org">

<!--=============== HEAD ===============-->
<head th:insert="~{fragments/management/headNoTable}"></head>

<body class="clientes">
<!--=============== HEADER ===============-->
<header th:insert="~{fragments/management/header}"></header>

<!--=============== PANEL ===============-->
<section class="wrapper">

	<!--=============== ACCESSIBILITY BAR ===============-->
	<div th:insert="~{fragments/accessibilityBar}"></div>

	<!--=============== TOP BAR ===============-->
	<section th:insert="~{fragments/management/topBar}"></section>

		<!--=============== CONTENT ===============-->
		<main class="main">
			<section class="main-content main-register">
				<div class="main-content_box">
					<a class="btn btn-cancel" href="/clientes">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 256 256">
							<path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM181.66,170.34a8,8,0,0,1-11.32,11.32L128,139.31,85.66,181.66a8,8,0,0,1-11.32-11.32L116.69,128,74.34,85.66A8,8,0,0,1,85.66,74.34L128,116.69l42.34-42.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
						</svg>
						Cancelar
					</a>

					<div class="main-container_form">
						<form class="form" th:action="@{/criar-cliente}" th:object="${cliente}" method="post">
							<div class="form-instruction">
								<p>Preenchimento obrigatório</p><span>*</span>
							</div>

							<div class="form-dision">
								<div class="form-division_wrapper">
									<label for="firstName">Primeiro Nome *</label>
									<input id="firstName" class="form-dision_inputfull form-dision_top_right" type="text" th:field="*{firstName}">
								</div>

								<div class="form-division_wrapper">
									<label for="lastName">Último Nome *</label>
									<input id="lastName" class="form-dision_inputfull form-dision_top_right" type="text"  th:field="*{lastName}" >
								</div>

								<div class="form-division_wrapper">
									<label for="telefone">Telefone *</label>
									<input class="form-dision_inputfull form-dision_top_right" type="text"  th:field="*{telephone}" id="telefone" maxlength="14">
								</div>

								<div class="form-division_wrapper">
									<label for="cpf">CPF *</label>
									<input class="form-dision_inputfull form-dision_top_right" type="text"  th:field="*{cpf}" id="cpf" maxlength="14">
								</div>

								<div class="form-division_wrapper">
									<label for="cep">CEP *</label>
									<input class="form-dision_inputfull form-dision_top_right" type="text"  th:field="*{cep}" id="cep" onblur="pesquisacep(this.value);" maxlength="9">
								</div>

								<div class="form-division_wrapper">
									<label for="rua">Endereço *</label>
									<input class="form-dision_inputfull form-dision_top_right" type="text"  th:field="*{address}" id="rua" readonly>
								</div>

								<div class="form-division_wrapper">
									<label for="locationNumber">Número da Residência *</label>
									<input class="form-dision_inputfull form-dision_top_right" type="text"  id="locationNumber" th:field="*{locationNumber}">
								</div>

								<div class="form-division_wrapper">
									<label for="complement">Complemento </label >
									<input id="complement" class="form-dision_inputfull form-dision_top_right" type="text"  th:field="*{complement}">
								</div>
							</div>

							<input type="submit" value="Cadastrar" class="btn">
						</form>
					</div>
				</div>
			</section>
		</main>
	</section>

	<!--=============== SCRIPTS ===============-->
	<div th:insert="~{fragments/management/scriptsNoTable}"></div>
	<script th:src="@{/js/regex.js}"></script>
	<script th:src="@{/js/viacep.js}"></script>
</body>
</html>