<footer class="footer content">
  <div class="footer-container wrapper">
    <div class="footer-container-group">
      <div class="footer-group_item">
        <h4>Conteúdo</h4>
        <ul class="footer-item_list">
          <li><a href="/home">Home</a></li>
          <li><a href="javascript:void(0)">Adote</a></li>
        </ul>
      </div>

      <div class="footer-group_item">
        <h4>Ajuda</h4>
        <ul class="footer-item_list">
          <li><a href="javascript:void(0)">Contato</a></li>
          <li><a href="javascript:void(0)">Suporte</a></li>
          <li><a href="javascript:void(0)" target="_blank">savpets@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-group_item">
        <h4>Plataforma</h4>
        <ul class="footer-item_list">
          <li><a href="javascript:void(0)">Sobre</a></li>
          <li><a href="javascript:void(0)">Destaques</a></li>
          <li><a href="javascript:void(0)">Termos e condições</a></li>
        </ul>
      </div>

      <div class="footer-group_item">
        <h4>Redes Sociais</h4>
        <ul class="footer-item_list">
          <li class="footer-list_social">
            <a href="javascript:void(0)"><img src="/img/icon-instagram.svg" alt="Ícone do instagram com link da savpets"></a>
            <a href="javascript:void(0)"><img src="/img/icon-whatsapp.svg" alt="Ícone do whatsapp com link da savpets"></a>
            <a href="javascript:void(0)"><img src="/img/icon-linkedin.svg" alt="Ícone do linkedin com link da savpets"></a>
          </li>

          <li>Comece agora a ajudar os pets.</li>
          <li><a href="/cadastrar" class="btn btn-ghost">Crie uma conta</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-container_bottom">
      <div class="footer-bottom_end">
        <div class="footer-end_item">
          <a href="/home"><img src="/img/logo.svg" alt="Logo da savpets"></a>
          <p>&copy; 2023 SavPets</p>
        </div>

        <div class="footer-end_item">
          <p>Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>