body.contrast {
    --body-color: hsl(0, 0%, 0%);
    --paragraph-color: hsl(0, 0%, 100%);
    --primary-color: hsl(0, 0%, 0%);
    --secondary-color: hsl(0, 0%, 0%);
    --title-page-color: hsl(0, 0%, 100%);

    --height-nav: 7.2rem;
    --menu-links-color: hsl(60, 100%, 50%);
    --placeholder-color: hsl(0, 0%, 100%);
    --btn-red-color: hsl(60, 100%, 50%);

    --footer-color: hsl(0, 0%, 0%);
    --footer-text-color: hsl(0, 0%, 100%);
}

.contrast .top-bar,
.contrast .main-content_box,
.contrast .page-link,
.contrast .form-select option {
    background-color: var(--body-color);
}

.contrast a.btn,
.contrast button.btn,
.contrast input.btn,
.contrast .main-container_form>.form>.btn {
    border: initial;
    border: 1px solid var(--paragraph-color);
    background-color: var(--body-color);
    color: var(--menu-links-color);
}

.contrast .btn.no-padding {
    border: none;
}

.contrast .header-list_option,
.contrast .form-division_wrapper label,
.contrast .footer-item_list .btn-ghost,
.contrast h5 {
    opacity: 1;
}

.contrast .scroll-down svg path,
.contrast .accessibility-group_item:first-child svg path,
.contrast .accessibility-group_item:nth-child(2) svg path {
    fill: var(--paragraph-color);
}

.contrast svg circle {
    fill: var(--secondary-color);
}

.contrast h4,
.contrast h5,
.contrast span,
.contrast .just-validate-error-label,
.contrast .form-select option,
.contrast .odd >.dataTables_empty,
.contrast .odd > td,
.contrast .title_amount-campaign {
    color: var(--paragraph-color) !important;
}

.contrast a.accessibility-group_item,
.contrast a,
.contrast a span,
.contrast .option-quit span {
    color: var(--menu-links-color) !important;
}

.contrast a.accessibility-group_item svg path,
.contrast .fixed-menu .logo path,
.contrast .logo path,
.contrast .option-quit svg path,
.contrast a svg path,
.contrast .header-content_menu .menu-management-active svg path {
    fill: var(--menu-links-color) !important;
}

.contrast a svg path:last-child{
	fill: none !important;
}

.contrast .form-dision_inputfull,
.contrast .form-dision_inputfull option,
.contrast input[type="date"],
.contrast input[type="time"],
.contrast .container-cards_card h4,
.contrast .container-cards_card p {
    color: var(--primary-color) !important;
}

.contrast .campaign-container .campaign-content{
	background: #000;
	border: 1px solid var(--paragraph-color);
}

.contrast .campaign-container .campaign-content .campaign-info .campaign-date{
	color: var(--placeholder-color);
}

.contrast .optionshelp-card_information{
	border: 1px solid var(--paragraph-color);
	border-radius: 1rem;
}

.contrast .back-to-top svg, .contrast .scroll-down svg {
	border-radius: 100%;
	border: 1px solid var(--placeholder-color);
}

.contrast a svg path,
.contrast a span {
	font-weight: 700;
}

.contrast .disabled-link svg path,
.contrast .disabled-link span {
	opacity: 1 !important;
	font-weight: 400 !important;
}

.contrast .accessibility-container_group a svg path,
.contrast .header-content_menu a svg path {
    fill: var(--menu-links-color) !important;
}
.contrast text.apexcharts-title-text {
    fill: red;
}

.contrast text.apexcharts-text.apexcharts-xaxis-label{
	fill: red;
}


.contrast text.apexcharts-text.apexcharts-yaxis-label{
	fill: red;
}

.contrast .apexcharts-tooltip{
	background-color: red;
}
.contrast .apexcharts-tooltip.apexcharts-active {
	background-color: red;
}
.contrast .apexcharts-tooltip-title .apexcharts-active {
	background-color: red;
}

