/* =============== GENERAL SETTINGS =============== */
.form {
    width: min(36rem, 90%);
}

.main-container_form>.form {
    width: min(80rem, 90%);
    margin-inline: auto;
}

.form-instruction {
    text-align: right;
    margin-bottom: 1.2rem;
}

.form-instruction>p,
.form-instruction>span {
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
}

.form-instruction>span {
    color: #ff0202;
}

.form-dision {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    margin-bottom: 1.2rem;

    border-radius: 1rem;
}

.form-dision:last-child {
    margin-bottom: 0;
}

.form-dision input,
.form-dision select,
.form-dision textarea {
    border: 1px solid rgba(82, 87, 96, 0.2);
    border-radius: .4rem;
    padding: 1.5rem;

    font-size: 1.4rem;
}

.form-dision select:focus {
    outline: none;
}

.form-dision select:first-child {
    color: var(--placeholder-color);
    font-weight: 600;
    opacity: 0.6;
}

.form-division_wrapper {
    position: relative;
}

.form-division_wrapper::after {
    position: absolute;
    top: 4rem;
    right: -2rem;
}

.form-division_wrapper.check::after {
    content: url(../img/icon-check.svg);
}

.form-division_wrapper.exclamation::after {
    content: url(../img/icon-exclamation.svg);
}

.form-division_wrapper>label {
    opacity: .6;
    font-weight: 600;
}

.form-dision_inputfull {
    display: block;
    width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="date"]::before,
input[type="time"]::before {
    font-weight: 600;
    color: var(--placeholder-color);
    font-family: 'Poppins', sans-serif;
    margin-right: 0.5rem;
    opacity: 0.6;
}

input[type="date"],
input[type="time"] {
    color: #fff;
}

input[type="date"]:focus,
input[type="date"]:valid,
input[type="time"]:focus,
input[type="time"]:valid {
    opacity: 1;
    font-weight: 400;
    color: var(--placeholder-color);
    font-family: 'Poppins', sans-serif;
}

.form-dision_textarea {
    height: 9.8rem;
    resize: none;
}

.form>.btn {
    margin: 3.5rem auto 0 auto;
    padding: 1.2rem 2.8rem;

    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    cursor: pointer;
}

.main-container_form>.form>.btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* =============== PUBLIC PAGES SETTINGS =============== */
.container-form {
    display: flex;
    place-content: center;
}

.container-form textarea {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
}

/* =============== RESPONSIVE SETTINGS =============== */
@media (max-width: 500px) {
    .form>.btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        max-width: 100%;
        padding: .8rem 1.2rem;
        font-size: 1.2rem;
    }
}