/* =============== PRESENTATION SETTINGS =============== */
header #header.content{
    background-color: transparent;
    z-index: 1000;
}

header#header_nom-index #header.content{
    background-color: var(--primary-color);
}

.header-container.home{
    justify-content: space-between;
}

header #header.fixed-menu {
    background-color: var(--secondary-color) !important;
}

.presentation.content{
    padding-block: 0;
    position: relative;
}

/* Titles */
.main-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-page-color);
    margin-bottom: 0.75rem;
}

.main-subtitle{
    font-size: 2rem;
    color: var(--placeholder-color);
    text-align: center;
    margin-bottom: 4rem;
}

/* =============== SCROLL DOWN =============== */
.scroll-down{
    width: 10%;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
    left: 45%;
    animation: MoveUpDown 3s linear infinite;
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.scroll-down.hide_scroll-down{
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}

/* Keyframe (animação) para o 'scroll-down' */
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 25px;
    }
}

.scroll-down{
    transform: rotate(180deg);
}

.scroll-down svg circle{
    fill: var(--secondary-color);
}

/*======================================*/

.presentation-container{
    background: url(../img/background-image.png) no-repeat 62%;
    background-size: cover;

    min-height: calc(100vh - 3.1rem);

    display: flex;
    align-items: center;
}

.presentation-container_welcome h1{
    margin-block: 1.8rem;
}

.presentation-welcome_description{
    color: #fff;
    font-weight: 400;

    width: min(60rem, 80%);
    margin-bottom: 1.8rem;
}

.presentation-welcome-btns{
    display: flex;
    gap: 2rem;
}

.presentation-welcome-btns .btn{
    padding: 1.2rem 2.8rem;
}

/* =============== BACK TO TOP =============== */
.back-to-top{
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    transform: translateY(100%);
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
}

.back-to-top svg circle{
    fill: var(--secondary-color);
}

.back-to-top.activate_scroll-top{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* =============== OPTIONS HELP SETTINGS =============== */
.optionshelp-paws{
    width: 100%;
    position: absolute;
    bottom: -55rem;
}

.optionshelp-container > h3{
    color: var(--paragraph-color);
    margin-bottom: 5rem;
}

.optionshelp-container_group{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.optionshelp-group_card {
    display: flex;
    justify-content: space-between;
    flex: 1 1 35rem;

    max-width: 45rem;
    border-radius: 1rem;
    background: url(../img/option-help1.png) right bottom no-repeat;
    background-size: contain;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.optionshelp-group_card:nth-child(2) {
    background-image: url(../img/option-help2.png);
}

.optionshelp-group_card:nth-child(3) {
    background-image: url(../img/option-help3.png);
}

.optionshelp-card_information{
    padding: 3.5rem 0 3.5rem 2.5rem;
}

.optionshelp-card_information > .btn{
    background-color: var(--primary-color);
    padding: .2rem .8rem;

    border-color: transparent;
    border-radius: 1rem;

    font-size: 1.2rem;
}

.optionshelp-card_information > .btn:hover{
    filter: brightness(1.1);
}

.optionshelp-card_information > h4{
    font-size: 1.6rem;
    color: var(--paragraph-color);

    width: 12.5rem;
    margin-block: 2rem 1.2rem;
}

.optionshelp-card_information > p:not(.btn){
    font-size: 1.2rem;
    width: 60%;
}

.optionshelp-group_card > img{
    width: 100%;
}

/* =============== ABOUT SETTINGS =============== */
.about-container,
.difference-container, /*Configurações das diferenças*/
.contact-container{ /*Configurações de contato*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.about-container > img{
    width: min(45rem, 50%);
}

.about-container_description{
    width: min(45.2rem, 90%);
}

.about-container_description > h2,
.difference-container_description h2, /*Configurações das diferenças*/
.difference-container_description > p,
.start-container_description > h2, /*Configurações de começar*/
.contact-container_informations > h2{ /*Configurações de contato*/
    margin-bottom: 2.5rem;
}

/* =============== DIFFERENCE SETTINGS =============== */
.difference-container_description{
    width: min(46rem, 90%);
}

.difference-container_description > .btn{
    padding: 1.2rem 2.8rem;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.difference-container_highlights{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;

    width: min(42.5rem, 90%);
}

.difference-highlights_item{
    flex: 1 1 20rem;
}

.difference-highlights_item > h4{
    color: var(--paragraph-color);

    margin-block: 1rem;
}

/* =============== START SETTINGS =============== */
.start{
    background-color: var(--primary-color);
}

.start-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-container_description{
    width: min(62rem, 90%);
}

.start-container_description > h2,
.start-container_description > p{
    color: #fff;
}

.start-container > .btn{
    padding: 1.2rem 2.8rem;
    border-color: #fff;
    background-color: #fff;

    color: var(--primary-color);
    font-size: 1.6rem;
}

/* =============== CONTACT SETTINGS =============== */
.contact-container{
    align-items: flex-start;
}

.contact-container_informations{
    width: min(48rem, 90%);
}

.contact-informations_options{
    margin-top: 2.5rem;
}

.contact-options_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
}

.contact-options_item:last-child{
    margin-bottom: 0;
}

/* =============== CAMPAIGNS =============== */
#main {
    background: var(--body-color);
}

.section-campaign{
    margin-top: 5rem;
}

.section-campaign .title_amount-campaign{
    margin-bottom: 2.4rem;
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.campaign-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.campaign-container .campaign-content{
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    min-height: 30rem;
    position: relative;
}

.campaign-container .campaign-content .campaign-image{
	width: 40rem;
	height: 100%;
	position: absolute;
}

.campaign-container .campaign-content .campaign-image img{
	height: 100%;
	object-fit: cover;
	border-radius: 0.625rem 0 0 0.625rem;
	width: 100%;
}

.campaign-container .campaign-content .campaign-info{
    padding: 2.5rem 3rem;
    position: relative;
    top: 0;
    margin-left: 40rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.campaign-container .campaign-content .campaign-info .campaign-date{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.6rem;
}

.campaign-container .campaign-content .campaign-info .campaign-name-container{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--placeholder-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.campaign-container .campaign-content .campaign-info .campaign-localtime-container{
    font-size: 1.6rem;
    font-weight: 600;
}

.campaign-container .campaign-content .campaign-info .campaign-description{
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
}

/* =============== FOOTER SETTINGS =============== */
.footer{
    background-color: var(--footer-color);
}

.footer-container-group{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: min(16.2rem, 8%);
    flex-wrap: wrap;

    margin-bottom: 10rem;
}

.footer-group_item{
    flex: 1 1 20rem;
}

.footer-group_item h4{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 7rem;
}

.footer-item_list li{
    margin-bottom: 3.5rem;
}

.footer-item_list li:last-child{
    margin-bottom: 0;
}

.footer-item_list a>:not(img){ /*todo link que não seja uma imagem*/
    line-height: 2.1rem;
    color: var(--footer-text-color);
    opacity: .6;
}

.footer-list_social{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
}

.footer-list_social + li{
    margin-top: 7.2rem;
}

.footer-item_list .btn-ghost{
    font-size: 1.6rem;
    color: var(--footer-text-color);
    border-color: var(--footer-text-color);

    opacity: .6;
}

.btn.btn-text{
    background: transparent;
    border: none;
}

.btn.btn-text.no-padding{
    padding-right: 0;
}

.footer-container_bottom::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;

    width: 100%;
    height: .1rem;
    background-color: hsla(208, 35%, 19%, 1);
}

.footer-bottom_end{
    position: relative;
    top: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-end_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

/* =============== RESPONSIVE SETTINGS =============== */
@media (max-width: 1100px) {
    .footer-group_item{
        margin-bottom: 6rem;
    }
}

@media (max-width: 825px) {
    .header-container_list,
    .header-container .btn-desktop{
        display: none;
    }

    .header-container .logo{
        width: 12rem;
    }

    .header-container .burger{
        display: block;
        font-size: 1rem;
    }

    #header .header-container .burger.open{
        z-index: 500;

        position: fixed;
        top: 2rem;
        right: 2rem;

        font-size: 1.2rem;
    }

    .menu-mobile{
        position: fixed;
        top: 0;
        right: -100vw;

        width: 50vw;
        height: 100vh;

        z-index: 2;
        padding: 12rem 2.5rem 0 0;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2.5rem;

        background-color: var(--secondary-color);
        box-shadow: rgba(100, 100, 111, .4) 0 12px 12px 0;

        transition: 300ms;
    }

    .menu-mobile.active-menu-mobile{
        right: 0;
    }

    .menu-mobile a{
        color: #fff;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .menu-mobile .btn-ghost{
        margin-top: 5rem;

        font-size: 1.6rem;
    }

}

@media screen and (max-width: 800px) {
	.campaign-container .campaign-content{
		display: flex;
		flex-direction: column;
	}
	
	.campaign-container .campaign-content .campaign-image{
		position: relative;
		width: 100%;
		height: 25rem;
	}
	
	.campaign-container .campaign-content .campaign-image img{
		position: relative;
		border-radius: 0.625rem 0.625rem 0 0;
	}
	
	.campaign-container .campaign-content .campaign-info{
		position: relative;
		margin-left: 0;
	}
}


@media (max-width: 600px) {
    .identify-choose_item > h4{
        top: 30%;

        font-size: 1.6rem;
    }
}

@media (max-width: 482px){
    .menu-mobile{
        width: 70vw;
    }

    .identify-container_choose{
        flex-direction: column;
        place-items: center;
    }

    .identify-choose_item{
        position: relative;
    }

    .identify-choose_item > h4{
        top: 40%;

        font-size: 1.8rem;
    }

    .container-alternative{
        flex-direction: column;
        gap: .5rem;

        text-align: center;
    }

    .footer-container-group{
        margin-bottom: 0;
    }

    .footer-group_item{
        text-align: center;
        margin-bottom: 5rem;
    }

    .footer-group_item h4{
        margin-bottom: 2rem;
    }

    .footer-item_list li{
        display: flex;
        justify-content: center;
    }

    .footer-list_social{
        justify-content: center;
    }

    .footer-bottom_end{
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 425px){
    .campaign-container .campaign-content .campaign-info .campaign-name-container{
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px){
    .campaign-container .campaign-content .campaign-image{
        display: none;
    }

    .campaign-container .campaign-content .campaign-info a.btn{
        align-self: center;
    }
}

@media (max-width: 320px){
    .menu-mobile{
        width: 90vw;
    }

    .identify-choose_item > h4{
        top: 32%;

        font-size: 1.6rem;
    }

    .footer-end_item{
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1014px){
    .difference-container{
        flex-direction: column;
    }
}

@media (max-width: 835px) {
    h2{
        font-size: 3rem;
    }

    .start-container{
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .presentation-container_welcome h1{
        font-size: 3.2rem;
    }

    .optionshelp-container_group{
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-container > img{
        display: none;
    }

    .contact-container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .optionshelp-paws{
        width: 60%;
    }
}

@media (max-width: 375px) {

    .presentation-container_welcome{
        text-align: center;
    }

    .presentation-welcome_description{
        width: auto;
    }

    .presentation-welcome-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .presentation-container_welcome{
        margin-block: calc(var(--height-nav) + 4rem);
    }
}