/* =============== PRESENTATION SETTINGS =============== */
#header.content{
    background-color: transparent;
}

.header-container.home{
    justify-content: space-between;
}

#header.fixed-menu{
    background-color: var(--secondary-color);
}

.presentation.content{
    padding-block: 0;
}

.presentation-container{
    background: url(../img/background-image.png) no-repeat 62%;
    background-size: cover;

    min-height: 100vh;

    display: flex;
    align-items: center;
}

.presentation-container_welcome h1{
    margin-block: 1.8rem;
}

.presentation-welcome_description{
    color: #fff;
    font-weight: 400;

    width: min(60rem, 80%);
    margin-bottom: 1.8rem;
}

.presentation-welcome-btns{
    display: flex;
    gap: 2rem;
}

.presentation-welcome-btns .btn{
    padding: 1.2rem 2.8rem;
}

/* =============== OPTIONS HELP SETTINGS =============== */
.optionshelp-paws{
    width: 100%;
    position: absolute;
    bottom: -55rem;
}

.optionshelp-container > h3{
    color: var(--paragraph-color);
    margin-bottom: 5rem;
}

.optionshelp-container_group{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.optionshelp-group_card {
    display: flex;
    justify-content: space-between;
    flex: 1 1 35rem;

    max-width: 45rem;
    border-radius: 1rem;
    background: url(../img/option-help1.png) right bottom no-repeat;
    background-size: contain;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.optionshelp-group_card:nth-child(2) {
    background-image: url(../img/option-help2.png);
}

.optionshelp-group_card:nth-child(3) {
    background-image: url(../img/option-help3.png);
}

.optionshelp-card_information{
    padding: 3.5rem 0 3.5rem 2.5rem;
}

.optionshelp-card_information > .btn{
    background-color: var(--primary-color);
    padding: .2rem .8rem;

    border-color: transparent;
    border-radius: 1rem;

    font-size: 1.2rem;
}

.optionshelp-card_information > .btn:hover{
    filter: brightness(1.1);
}

.optionshelp-card_information > h4{
    font-size: 1.6rem;
    color: var(--paragraph-color);

    width: 12.5rem;
    margin-block: 2rem 1.2rem;
}

.optionshelp-card_information > p:not(.btn){
    font-size: 1.2rem;
    width: 60%;
}

.optionshelp-group_card > img{
    width: 100%;
}

/* =============== ABOUT SETTINGS =============== */
.about-container,
.difference-container, /*Configurações das diferenças*/
.contact-container{ /*Configurações de contato*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.about-container > img{
    width: min(45rem, 50%);
}

.about-container_description{
    width: min(45.2rem, 90%);
}

.about-container_description > h2,
.difference-container_description h2, /*Configurações das diferenças*/
.difference-container_description > p,
.start-container_description > h2, /*Configurações de começar*/
.contact-container_informations > h2{ /*Configurações de contato*/
    margin-bottom: 2.5rem;
}

/* =============== DIFFERENCE SETTINGS =============== */
.difference-container_description{
    width: min(46rem, 90%);
}

.difference-container_description > .btn{
    padding: 1.2rem 2.8rem;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.difference-container_highlights{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;

    width: min(42.5rem, 90%);
}

.difference-highlights_item{
    flex: 1 1 20rem;
}

.difference-highlights_item > h4{
    color: var(--paragraph-color);

    margin-block: 1rem;
}

/* =============== START SETTINGS =============== */
.start{
    background-color: var(--primary-color);
}

.start-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-container_description{
    width: min(62rem, 90%);
}

.start-container_description > h2,
.start-container_description > p{
    color: #fff;
}

.start-container > .btn{
    padding: 1.2rem 2.8rem;
    border-color: #fff;
    background-color: #fff;

    color: var(--primary-color);
    font-size: 1.6rem;
}

/* =============== CONTACT SETTINGS =============== */
.contact-container{
    align-items: flex-start;
}

.contact-container_informations{
    width: min(48rem, 90%);
}

.contact-informations_options{
    margin-top: 2.5rem;
}

.contact-options_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
}

.contact-options_item:last-child{
    margin-bottom: 0;
}

/* =============== FOOTER SETTINGS =============== */
.footer{
    background-color: var(--footer-color);
}

.footer-container-group{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: min(16.2rem, 8%);
    flex-wrap: wrap;

    margin-bottom: 10rem;
}

.footer-group_item{
    flex: 1 1 20rem;
}

.footer-group_item h4{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 7rem;
}

.footer-item_list li{
    margin-bottom: 3.5rem;
}

.footer-item_list li:last-child{
    margin-bottom: 0;
}

.footer-item_list a>:not(img){ /*todo link que não seja uma imagem*/
    line-height: 2.1rem;
    color: var(--footer-text-color);
    opacity: .6;
}

.footer-list_social{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
}

.footer-list_social + li{
    margin-top: 7.2rem;
}

.footer-item_list .btn-ghost{
    font-size: 1.6rem;
    color: var(--footer-text-color);
    border-color: var(--footer-text-color);

    opacity: .6;
}

.footer-container_bottom::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;

    width: 100%;
    height: .1rem;
    background-color: hsla(208, 35%, 19%, 1);
}

.footer-bottom_end{
    position: relative;
    top: 4.5rem;
}

.footer-bottom_end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-end_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

/* =============== RESPONSIVE SETTINGS =============== */
@media (max-width: 1100px) {
    .footer-group_item{
        margin-bottom: 6rem;
    }
}

@media (max-width: 825px) {
    .header-container_list,
    .header-container .btn-desktop{
        display: none;
    }

    .header-container .logo{
        width: 12rem;
    }

    .header-container .burger{
        display: block;
        font-size: 1rem;
    }

    #header .header-container .burger.open{
        z-index: 500;

        position: fixed;
        top: 2rem;
        right: 2rem;

        font-size: 1.2rem;
    }

    .menu-mobile{
        position: fixed;
        top: 0;
        right: -100vw;

        width: 50vw;
        height: 100vh;

        z-index: 2;
        padding: 12rem 2.5rem 0 0;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2.5rem;

        background-color: var(--secondary-color);
        box-shadow: rgba(100, 100, 111, .4) 0 12px 12px 0;

        transition: 300ms;
    }

    .menu-mobile.active-menu-mobile{
        right: 0;
    }

    .menu-mobile a{
        color: #fff;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .menu-mobile .btn-ghost{
        margin-top: 5rem;

        font-size: 1.6rem;
    }

}

@media (max-width: 600px) {
    .identify-choose_item > h4{
        top: 30%;

        font-size: 1.6rem;
    }
}

@media (max-width: 482px){
    .menu-mobile{
        width: 70vw;
    }

    .identify-container_choose{
        flex-direction: column;
        place-items: center;
    }

    .identify-choose_item{
        position: relative;
    }

    .identify-choose_item > h4{
        top: 40%;

        font-size: 1.8rem;
    }

    .container-alternative{
        flex-direction: column;
        gap: .5rem;

        text-align: center;
    }

    .footer-container-group{
        margin-bottom: 0;
    }

    .footer-group_item{
        text-align: center;
    }

    .footer-group_item{
        margin-bottom: 5rem;
    }

    .footer-group_item h4{
        margin-bottom: 2rem;
    }

    .footer-item_list li{
        display: flex;
        justify-content: center;
    }

    .footer-list_social{
        justify-content: center;
    }

    .footer-bottom_end{
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 320px){
    .menu-mobile{
        width: 90vw;
    }

    .identify-choose_item > h4{
        top: 32%;

        font-size: 1.6rem;
    }

    .footer-end_item{
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1014px){
    .difference-container{
        flex-direction: column;
    }
}

@media (max-width: 835px) {
    h2{
        font-size: 3rem;
    }

    .start-container{
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .presentation-container_welcome h1{
        font-size: 3.2rem;
    }

    .optionshelp-container_group{
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-container > img{
        display: none;
    }

    .contact-container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .optionshelp-paws{
        width: 60%;
    }
}

@media (max-width: 375px) {
    .presentation-container_welcome{
        text-align: center;
    }

    .presentation-welcome_description{
        width: auto;
    }

    .presentation-welcome-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .presentation-container_welcome{
        margin-block: calc(var(--height-nav) + 4rem);
    }
}