/*=============== SPINNER LOADING ===============*/
body.active-loading {
  overflow: hidden;
}

@keyframes ldio-m0b8ra5ydv {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinner_loading {
  display: inline-block;
  overflow: hidden;

  opacity: 0;

  width: 100%;
  height: 100%;

  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  z-index: -10;
  position: fixed;
  inset: 0;
  background-color: hsla(var(--secondary-color), 28%, 16%, .7);

  transition: .4s;
}

.spinner_loading div {
  box-sizing: content-box;
  position: absolute;

  width: 30px;
  height: 30px;

  border: 5px solid var(--body-color);
  border-top-color: transparent;
  border-radius: 50%;

  animation: ldio-m0b8ra5ydv 1s linear infinite;

  top: 50%;
  left: 50%;
}

.spinner_loading.preloading {
  background-color: var(--primary-color);
  overflow: overlay;
  z-index: 9000;
}

.active-loading {
  opacity: 1;
  visibility: visible;
  z-index: 9000;
}

.vlibras-widget.enabled.active-loading {
  opacity: 0;
  visibility: hidden;
}