<!DOCTYPE html>
<html lang="pt-BR">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--=============== HEAD ===============-->

<head th:insert="~{fragments/headHomeClient}"></head>

<body>
    <!--=============== SPINNER LOADING ===============-->
    <div class="spinner_loading preloading active-loading">
        <div></div>
    </div>

    <!--=============== ACCESSIBILITY BAR ===============-->
    <div th:insert="~{fragments/accessibilityBar}"></div>

    <!--=============== HEADER ===============-->
    <div th:insert="~{fragments/headerHomeClient}"></div>

    <!--=============== MAIN ===============-->
    <main id="main">

        <!--=============== ACCESSIBILITY GUIDE ===============-->
        <section class="guide content">
            <div class="guide-container wrapper container-main_content">

                <div class="guide-container_information container-information">
                    <h5>ACESSIBILIDADE</h5>
                    <h3>Guia de acessibilidade</h3>
                    <p>Confira todas as instruções sobre acessibilidade do sistema.</p>
                </div>

                <div class="guide-container_content">
                    <p>
                        Este site foi desenvolvido para que pessoas com deficiência visual, baixa visão, daltonismo,
                        deficiência
                        auditiva e mobilidade reduzida possam navegar por meio de recursos como alto contraste, aumento
                        de fonte,
                        teclas de atalho, tradução para a Língua Brasileira de Sinais e navegação por teclado.
                    </p>
                    <p>
                        Para aumentar a fonte, é só clicar no símbolo de + em nossa barra de acessibilidade. Caso
                        queira voltar ao
                        tamanho de fonte original, é só clicar em -.
                    </p>
                    <p>
                        Se for necessário, você também pode usar o zoom nativo do seu navegador, pressionando as teclas
                        “Ctrl” e “+”
                        para aumentar todo o site e “Ctrl” e “-“ para diminuir. Para voltar ao padrão, pressione “Ctrl”
                        e “0”.
                    </p>
                    <p>
                        Este site tem melhor acessibilidade quando acessado nas versões mais atualizadas do seu
                        navegador web.
                        Utilize sempre a versão mais recente de seu software.
                    </p>
                    <p>Tecla de atalho por navegadores</p>
                    <p>Internet Explorer e Google Chrome:</p>
                    <p>“Alt” + “1” - ir para o conteúdo</p>
                    <p>Firefox:</p>
                    <p>“Alt” + “Shift” + “número”</p>
                    <p>Opera:</p>
                    <p>“Shift” + “Escape” + “número”</p>
                    <p>Safari e OmniWeb:</p>
                    <p>“Ctrl” + “número”</p>
                    <p>Navegação por tabulação</p>
                    <p>
                        Use a tecla Tab para navegar por elementos que recebem ação do usuário no site, tais como links,
                        botões,
                        campos de formulário e outros na ordem em que eles são apresentados na página, e Shift + Tab
                        para retornar.
                        Use as setas direcionais para acessar as informações textuais.
                    </p>
                    <p>Sugestões de programas disponíveis para pessoas com deficiência</p>
                    <p>- Nitrous Voice Flux: controla o computador por voz. Gratuito;</p>
                    <p>- NVDA: software livre para ler tela - vários idiomas (Windows);</p>
                    <p>- YeoSoft Text: leitor de tela em inglês e português;</p>
                    <p>- Jaws for Windows: leitor de tela - vários idiomas;</p>
                    <p>- Virtual Vision: leitor de telas em português do Brasil;</p>
                    <p>- DOSVOX: sistema para deficientes visuais (Windows ou Linux).</p>
                    <p>- Talckback: leitor de tela disponível em smartphones Android.</p>
                    <p>Observação: leia no manual do leitor de telas sobre a melhor forma de navegação em páginas web.
                    </p><br>
                    <p>LIBRAS - Língua Brasileira de Sinais</p>
                    <p>
                        Este site é acessível em LIBRAS através do <a href="http://www.vlibras.gov.br/"
                            target="_blank">VLibras.</a>
                    </p>
                    <p>
                        -Do lado direito de cada página do site existe o ícone de um Widget informando que o site é
                        acessível em
                        LIBRAS.
                    </p>
                    <p>-Para traduzir, basta clicar sobre o ícone e selecionar o texto que deseja traduzir.</p>
                </div>
            </div>
        </section>
    </main>

    <!--=============== FOOTER ===============-->
    <div th:insert="~{fragments/footerHomeClient.html}"></div>

    <!--=============== SCRIPTS ===============-->
    <div th:insert="~{fragments/management/scriptsHomeClient}"></div>
</body>

</html>