<!DOCTYPE html>
<html lang="pt-BR">

<html xmlns:th="http://www.thymeleaf.org">

<!--=============== HEAD ===============-->
<head th:insert="~{fragments/headMain}"></head>

<body>
    <!--=============== ACCESSIBILITY BAR ===============-->
	<div th:insert="~{fragments/accessibilityBar}"></div>

    <!--=============== HEADER ===============-->
    <div th:insert="~{fragments/headerMain}"></div>

    <!--=============== MAIN ===============-->
    <main>
        <!--=============== IDENTIFY ===============-->
        <section class="identify content">
            <div class="identify-container wrapper container-main_content">

                <div class="identify-container_information container-information">
                    <h5>ALTERAR SENHA</h5>
                    <h3>Insira os dados da sua conta</h3>
                    <p>Mude sua senha para que possa entrar em sua conta.</p>

                    <div class="identify-information_options container-information_options">
                        <a href="/login">Entrar</a>
                        <a href="/alterar-senha" class="container-option_active">Alterar senha</a>
                    </div>
                </div>

                <div class="identify-container_form container-form">
                    <form class="form" th:action="@{/alterar-senha}" th:object="${cadastro}" method="post">
                        <div class="form-instruction">
                            <p>Preenchimento obrigatório</p><span>*</span>
                        </div>

                        <div class="form-dision">
                        
                              <div class="form-division_wrapper">
                              <label for="email">Email *</label >
                                <input class="form-dision_inputfull" type="email" name="email" th:field="*{email}" id="email">
                            </div>
                            
                               <div class="form-division_wrapper">
                               <label for="password">Nova Senha *</label >
                                <input class="form-dision_inputfull form-dision_top_right" type="password" name="password" th:field="*{password}" id="password">
                            </div>
                            
                              <div class="form-division_wrapper">
                              <label for="repeatPassword">Confirmar nova senha *</label >
                                <input class="form-dision_inputfull form-dision_top_right" type="password" name="confirmedPassword" th:field="*{repeatPassword}" id="repeatPassword">
                            </div>
                        </div>

                        <input type="submit" value="Alterar" class="btn">
                    </form>
                </div>

                <div class="identify-container_alternative container-alternative">
                    <p>Já possui uma conta?</p>
                    <a href="/login">Entre em sua conta</a>
                </div>
            </div>
        </section>
    </main>

    <!--=============== SWEET ALERT 2 ===============-->
	<script src="js/sweetAlert2/sweetalert2@11.js"></script>
	
	<!--=============== JUST VALIDATE ===============-->
	<script src="js/justValidate/just-validate.production.min.js"></script>
	
	<!--=============== SCRIPTS ===============-->
    <script src="js/main.js"></script>
    <script src="js/alertsNoMenu.js"></script>
    <script src="/js/validations.js"></script>
    <script src="/js/accessibilityOptions.js"></script>
</body>
</html>