<!DOCTYPE html>
<html lang="pt-BR">

<html xmlns:th="http://www.thymeleaf.org">

<!--=============== HEAD ===============-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--=============== FAVICON AND TITLE ===============-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <title>SavPets</title>

    <!--=============== GOOGLE FONTS ===============-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" th:href="@{/css/hamburguer.css}">
    <link rel="stylesheet" th:href="@{/css/main-management.css}">
    <link rel="stylesheet" th:href="@{/css/contrast.css}">
</head>

<body class="painel">
    <!--=============== HEADER ===============-->
    <header th:insert="~{fragments/management/header}"></header>

    <!--=============== PANEL ===============-->
    <section class="wrapper">

        <!--=============== ACCESSIBILITY BAR ===============-->
        <div th:insert="~{fragments/accessibilityBar}"></div>

        <!--=============== TOP BAR ===============-->
        <section th:insert="~{fragments/management/topBar}"></section>

        <!--=============== CONTENT ===============-->
        <main class="main">
            <section class="main-content">
                <img class="main-content_img-default" th:src="@{/img/panel-default.svg}"
                    alt="Desenho de uma pessoa organizando informações">

                <h3>Escolha qual opção desejar no menu lateral.</h3>
            </section>
        </main>
    </section>

    <!--=============== SHOW USERNAME SETTINGS ===============-->
    <script>
		if (localStorage.getItem("username") == null)
			window.location.href = "/login?status=Erro&text=Realize_o_login!"
		else {
			const username = document.getElementById("username")
			if(!localStorage.getItem("username")) {
				localStorage.setItem("username", username.textContent)
				username.innerText = localStorage.getItem("username")
			}
			else if(username.textContent != localStorage.getItem("username")) {
				username.innerText = localStorage.getItem("username")
				localStorage.setItem("username", username.textContent)
			}
		
			const occupation = document.getElementById("occupation")
			if(!localStorage.getItem("occupation")) {
				localStorage.setItem("occupation", occupation.textContent)
				occupation.innerText = ""
			}
			else if(occupation.textContent != localStorage.getItem("occupation")) {
				localStorage.setItem("occupation", occupation.textContent)
				occupation.innerText = ""
			}
			
			const userId = document.getElementById("userId")
			if(!localStorage.getItem("userId")) {
				localStorage.setItem("userId", userId.textContent)
				userId.innerText = ""
			}
			else if(userId.textContent != localStorage.getItem("userId")) {
				localStorage.setItem("userId", userId.textContent)
				userId.innerText = ""
			}
		}
    </script>
    
    <!--=============== SWEET ALERT 2 ===============-->
    <script src="/js/sweetAlert2/sweetalert2@11.js"></script>
    <!--=============== SCRIPTS ===============-->
    <script src="/js/hamburguer-min.js" type="module"></script>
    <script src="/js/main-management.js"></script>
    <script src="/js/accessibilityOptions.js"></script>
</body>

</html>