<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de gerenciamento de uma empresa que oferece cuidados a animais carentes">
    <meta name="keywords" content="animais, animal, cuidado, controle, gerenciamento, adoção, ajuda">
    <meta name="authors" content="André Luiz, Guilherme Gonçalves, Gustavo Nascimento, Mateus Santana, Pedro Pessina, Vicenzzo Toth">

    <!--=============== FAVICON AND TITLE ===============-->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>SavPets</title>

    <!--=============== GOOGLE FONTS ===============-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../css/hamburguer.css">
    <link rel="stylesheet" href="../css/main-management.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/contrast.css">
</head>