<!--=============== SCRIPT DATATABLES ===============-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap5.min.js"></script>

<!--=============== SWEET ALERT 2 ===============-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--=============== SCRIPTS ===============-->
<script src="./js/hamburguer-min.js" type="module"></script>

<!-- =============== DATATABLES SETTINGS =============== -->
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            responsive: true
        })
    })
</script>

<script src="./js/main-management.js"></script>
<script src="./js/actions-management.js"></script>