<!--=============== SCRIPT DATATABLES ===============-->
<script src="./js/dataTables/jquery-3.5.1.js"></script>
<script src="./js/dataTables/jquery.dataTables.min.js" type="module"></script>
<script src="./js/dataTables/dataTables.bootstrap5.min.js" type="module"></script>
<script src="./js/dataTables/dataTables.responsive.min.js" type="module"></script>
<script src="./js/dataTables/responsive.bootstrap5.min.js" type="module"></script>

<!--=============== SWEET ALERT 2 ===============-->
<script src="./js/sweetAlert2/sweetalert2@11.js"></script>

<!--=============== SCRIPTS ===============-->
<script src="./js/hamburguer-min.js" type="module"></script>
<script src="./js/main-management.js"></script>
<script src="./js/main-managementTable.js"></script>